@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: 5px; /* for older browsers*/
  visibility: hidden;
}
.scroll-hidden::-webkit-scrollbar-thumb {
  height: 7px;
  border-radius: 20px;
  background-color: purple;
  scrollbar-color: purple; /* for older browsers*/
}
.scroll-x-anime {
  display: block;
  transform-origin: 0%;
  animation: scrollXAnimate 7s linear infinite;
}
@keyframes scrollXAnimate {
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translatex(-110px);
  }
  75% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}
.alert {
  position: relative;
  animation: alert 3.1s linear infinite;
}
@keyframes alert {
  0% {
    left: -10%;
    opacity: 1;
  }
  25% {
    left: 40%;
  }
  50% {
    left: 40%;
  }
  75% {
    left: 70%;
  }
  100% {
    opacity: 0.7;
    left: 90%;
  }
}
